@import "tailwindcss";

@theme inline {
  --font-ethno: var(--font-ethno);
  --font-ethno-italic: var(--font-ethno-italic);
  --font-jumbo: var(--font-jumbo);
  --font-montserrat: var(--font-montserrat);
}
